<!-- src/main/resources/static/index.html -->
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PRCM</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <div @click="nodechanges">
                <h2>OwO</h2>
            </div>
            <div v-if="status.newnode">
                <form @submit.prevent="submitForm">
                    <input type="text" id="node" v-model="formData.node" placeholder="node" required>
                    <input type="text" id="workdir" v-model="formData.workdir" placeholder="workdir" required>
                    <div v-for="(arg, index) in formData.args" :key="index">
                        <input type="text" v-model="formData.args[index]" placeholder="args" required>
                        <button type="button" @click="removeArg(index)">remove args</button>
                        <br>
                    </div>
                    <button type="button" @click="addArg">add args</button>
                    <br><br>
                    <button type="submit">upload</button>
                </form>
            </div>
            <div v-else>
                <div v-if="node.config && node.running">
                    <p>Config: {{ node.config }}</p>
                    <p>Running: {{ node.running }}</p>
                </div>
                <div v-if="node.config && node.running && Object.keys(node.config).length != 0" class="sidebar">
                    <div v-for="(row, i) in node.config">
                        <div v-if="Object.keys(node.running).length != 0">
                            <div v-for="(row2, i2) in node.running">
                                <li v-if="row2.status.id == row.id && row2.processInfo.pid != -1" @click="nodestop(row.id)" class="stop-node">
                                    {{row.id}} ({{row.node}}) [stop] <{{node.running[row.id].processInfo.pid}}>
                                </li>
                                <li v-else @click="nodestart(row.id)" class="start-node">
                                    {{row.id}} ({{row.node}}) [start]
                                </li>
                            </div>
                        </div>
                        <li v-else @click="nodestart(row.id)" class="start-node">
                            {{row.id}} ({{row.node}}) [start]
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <script src="index.js" defer></script>
    </body>
</html>